.App{
  display:flex;
  justify-content: center;
}
.App-header{
  padding: relative;
  margin:0 auto;
  margin-top:20px;
  background-image: linear-gradient(
  160deg,
  hsl(240deg 100% 20%) 0%,
  hsl(311deg 100% 25%) 0%,
  hsl(334deg 100% 40%) -1%,
  hsl(6deg 98% 61%) -1%,
  hsl(37deg 100% 50%) -1%,
  hsl(55deg 100% 50%) 0%,
  hsl(39deg 100% 50%) 1%,
  hsl(3deg 100% 60%) 4%,
  hsl(332deg 100% 50%) 12%,
  hsl(312deg 100% 46%) 39%,
  hsl(245deg 100% 50%) 100%
);
  height:600px;
  width:600px;
  border-radius: 10px;
}
.App-header label{
  display:flex;
  flex-direction: column;
 

}
.App->header h1{
  position: relative;
  left:200px;
}

/* .result{
  background-color: rgb(4, 254, 170);
  height: 300px;
  width: auto;
  border-radius: 10px;
  position: relative;
  left:100px;
} */
.input{
   display: flex;
   flex-direction: row;
   justify-content: center;
  
   font-size: 30px;
}
.button{
  position: relative;
  left:300px;
   
}
.heading{
  position: relative;
  left:200px;
}

/* From uiverse.io */
button {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all .3s;
  position: relative;
  left:300px;
 }
 
 button:active,
 button:hover {
  outline: 0;
 }
 
 button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
 }
 
 button:hover span {
  background: none;
 }
 
 button:active {
  transform: scale(0.9);
 }
 